@font-face {
  font-family: 'Apfel Grotezk';
  src: local('FiraSans'), url(./fonts/ApfelGrotezk-Regular.otf) format('opentype');
}

body{
  font-family: 'Apfel Grotezk',sans-serif;
  color: #EAE5D8;
  background-color: #101010;
  overflow: hidden;
 
  font-size: 20px;
  
  margin: 0;
}
.container{
  max-width: 900px;
  margin: 0 auto;
}

.windowelement{
  width: 300px;
}